<h1>Welcome Teachers</h1>

<p>Thank you for logging in, from here you can check up on current events, and post events to the public calendar.
</p>

<h3>Upcoming Yoga Teacher Training Courses</h3>
<p>
  200-hour Yoga Teacher Training:

This complete course explores an eclectic mixture of contemporary and classical yoga techniques. The curriculum instruction is based on Vinyasa flow, a powerful and dynamic system that combines asana, pranayama and meditation.

Students will learn about the history of yoga, how to instruct and set up classes; how to utilize verbal cues and how to bring safety into the classroom. In addition, students will gain a deeper understanding of the science of the body with a detailed study of the purpose and benefit of each asana. When presented in this form, yoga training can expand all areas of one’s life.

Tuition Cost: $1750

10% discount if paid all at once. Ask about payment plans and partial work trade.

Portland, OR – Winter 2014: January 3 – March 4th
Every Tuesday, with 5 weekends, beginning Friday September 3rd.  The weekend schedule is  Friday 6-10:00pm Saturday 9am to 5pm and Sunday 3-7pm:
January 3, 4, 5
January 17, 18, 19
January 31, February 1, 2
February 14, 15, 16
Febrary 28, March 1, 2
</p>