<h1>Teacher Training Program</h1>
<p>
  Here is a list of our current teachers.

  Create a teacher account to view teacher updates!


<ul>
  <% @users.each do |user| %>
    <li><%= link_to user.email, "mailto:#{user.email}?subject=Hello&body=Dear Arielle" %></li>
  <% end %>
</ul>


<h3>200-hour Yoga Teacher Training:</h3>
<p>This complete course explores an eclectic mixture of contemporary and classical yoga techniques. The curriculum instruction is based on Vinyasa flow, a powerful and dynamic system that combines asana, pranayama and meditation.</p>

<p>Students will learn about the history of yoga, how to instruct and set up classes; how to utilize verbal cues and how to bring safety into the classroom. In addition, students will gain a deeper understanding of the science of the body with a detailed study of the purpose and benefit of each asana. When presented in this form, yoga training can expand all areas of one’s life. </p>
